body {
    background-color: #FA8072;
}

h1 {
    text-align: center;
    color: #000;
    margin-top: 100px;
    font-weight: 900;
}

#output {
    height: 100%;
    width: 25%;
    display: block;
    margin: auto;
    margin-top: 100px;
    padding: 0.1rem;
    text-align: center;
    background: lightgreen;
}

input {
    width: 40%;
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
    text-align: center;
}

#btn {
    width: 15%;
    height: 100%;
    display: block;
    margin: auto;
    margin-top: 25px;
    padding: 0.1rem;
    color: #fff;
    background: blue;
    border-style: none;
    border-radius: 15px;
}